<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestEngineDBEntities" connectionString="metadata=res://*/DataAccess.TestEngineEntity.csdl|res://*/DataAccess.TestEngineEntity.ssdl|res://*/DataAccess.TestEngineEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-T4OOCOO;initial catalog=TestEngineDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>