<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestEngineDBEntities" connectionString="metadata=res://*/DataAccess.TestEngineEntity.csdl|res://*/DataAccess.TestEngineEntity.ssdl|res://*/DataAccess.TestEngineEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=18.223.0.248;initial catalog=TestEngineDB_DEV;persist security info=True;user id=sa;password=Test123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TestEngineEntities" connectionString="metadata=res://*/DataAccess.TestEngineEntity.csdl|res://*/DataAccess.TestEngineEntity.ssdl|res://*/DataAccess.TestEngineEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=18.223.0.248;initial catalog=TestEngineDB_DEV;persist security info=True;user id=sa;password=Test123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>