/* colors are mentioned as per the dashboard UX RGB Colors */

.ds_Scheduled {
    background: rgb(019,181,241);
    border-color: rgb(019,181,241);
}

.ds_Completed {
    background: rgb(100,002,141);
    border-color: rgb(100,002,141);
}

.ds_SingleLogin {
    background: rgb(002,053,141);
    border-color: rgb(002,053,141);
}

.ds_StrongConsider {
    background: rgb(069,173,078);
    border-color: rgb(069,173,078);
}

.ds_InProgress {
    background: rgb(222,145,030);
    border-color: rgb(222,145,030);
}

.ds_BulkLogin {
    background: rgb(222,030,171);
    border-color: rgb(222,030,171);
}

.ds_Expired {
    background: rgb(121,124,126);
    border-color: rgb(121,124,126);
    color: #fff;
}

.ds_Pending {
    background: rgb(241,036,036);
    border-color: rgb(241,036,036);
}

.ds_CommonLogin {
    background: rgb(008,140,155);
    border-color: rgb(008,140,155);
}

#imgLoginUser {
    width: 45px;
}

.lnkBlack {
    color: #fff;
}

.ds_darkBlue {
    background: rgb(024,023,069) !important;
    border-color: rgb(024,023,069) !important;
    color: #fff;
}

.ds_lightBlue {
    background: rgb(212,229,239) !important;
    border-color: rgb(212,229,239) !important;
}

/*Check box CSS */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
