@model List<Quiz.Web.DTO.Models.ExamAssessmentDetails>
@{
    ViewBag.Title = "AssessmentDetails";
}
<div class="row">
    <div class="col-md-12">
        <h3 class="blue-title ml-3">Module Description</h3>
    </div>
    <div class="col-md-12">
        <div class="clearfix user-details">
            <h2>Hi User , Your Assesssment Details as below</h2>


            <table class="table table-bg">
                <thead>
                    <tr>
                        <th>Question Bank Name</th>
                        <th>Duration</th>
                        <th>No. Of Questions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in Model)
                    {

                        <tr>
                            <td>@Item.QuestionBankName</td>
                            <td>@Item.Duration</td>
                            <td>@Item.NOOFQUESTIONS</td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="start test pull-right">
                <span class="start-txt">Click here to begin the test</span><button class="btn btn-primary" type="button" onclick="StartExam()" value="Start Test">Start Test</button>
            </div>
        </div>
    </div>
</div>
<script>

    function StartExam() {
        popupWindow = window.open('/ExamLogin/StartExam', "Exam", 'toolbar=no, location=no, directories=no, status=yes, minimizable=no, menubar=no, scrollbars=yes, resizable=0, copyhistory=no, width=' + 10000 + ', height=' + 10000 + ', top=' + 100 + ', left=' + 100);
        popupWindow.focus();
        document.onmousedown = focusPopup;
        document.onkeyup = focusPopup;
        document.onmousemove = focusPopup;
    }

    function focusPopup() {
        if (popupWindow && popupWindow.closed) {
            window.location = "/ExamLogin/LogOut";
        }
    }

</script>

<a href='@Url.Action("LogOut","ExamLogin")' id="logout"></a>




