
@{
    /**/

    Layout = null;
    ViewBag.Title = "Login";
    var loginStatus = ViewBag.LoginStatus;
    bool status = loginStatus == "Success" ? true : false;
    string queryString = HttpContext.Current.Request.Url.PathAndQuery;
    var splitData = queryString.Split('=');
    string assessmentID = splitData.Count() > 1 ? splitData[1] : string.Empty;

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    #imgLoginImage {
        width: 100%;
    }

    #dvLoginSection {
        padding: 8px;
    }

    .modal-header {
        border-bottom: 0px;
    }

    #dvLoginFooter {
        text-align: center !important;
        border-top: 0px;
    }

    .modal-dialog {
        top: 25%;
        max-width: 350px;
    }

    .dvlogincontainer {
        max-width: 350px;
        padding: 45px;
        margin-top: 103px;
        border: 1px solid #dadada;
    }

    #dvImageSection {
        margin-top: 30px;
    }
</style>


@if (status)
{
    <div class="container">
        <div class="row text-left" id="dvImageSection">
            <img class="img-responsive" src="~/Content/Images/logo.jpg" />
        </div>

        @{ Html.RenderPartial("UserLoin", new { assessmentID = assessmentID }); }
    </div>
}
else
{
    <script>
        $(document).ready(function () {
            $('#dvModalRestriction').modal('show');
        });
    </script>
    <div class="modal fade bs-example-modal-sm" id="dvModalRestriction" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <p>You don't have permission to access this page.</p>
            </div>
        </div>
    </div>
}




