
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You! You Have Completed Assessment Successfully</h2>

<script>
    $(document).ready(function () {

        var myVar = setInterval(myTimer, 3000);
        function myTimer() {
            debugger;
            

            window.close();

        }
    });
    
</script>


