
@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    .error-highlight {
        border-color: #b71c1c !important;
        border-bottom-color: #b71c1c !important;
        box-shadow: 0 1px 0 #b71c1c !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnResetPwd').click(function () {
            var data = $('#username').val();
            if (!data) {
                $('#username').addClass('error-highlight');
            }
            else {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("ForgotPassword", "Login")?emailOrName=' + data,
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        if (data == "SUCCESS") {
                            $('#forgotContentAfterSuccess').show();
                        }
                        else {
                            alert('username or email is not available.')
                        }
                    },
                    complete: function () {

                    },

                    cache: false
                });
            }
        });
    });
</script>
<div class="container">
    <div class="forgot-container">
        <div class="forgot">
            <header style="padding: 50px;padding-top:15px;">
                <center>

                </center>
            </header>
            <div class="forgotContent">
                <div class="forgot-content">
                    <h2>Reset Password</h2>
                    <p>To reset your password, please provide your username or email.</p>
                </div>
                <div class="input-text-wrap is-required">
                    <input id="username" placeholder="Username / Email" type="text">
                </div>
            </div>
            <div id="forgotContentAfterSuccess" style="display:none;">
                <div class="forgot-content">
                    <h2>Email sent!</h2>
                    <p>Password reset instructions have been sent to your account's primary email address. <br />If it doesn’t appear within a few minutes, check your spam folder.</p>
                </div>
            </div>
        </div>
        <div class="forgotContent">
            <center><input type="submit" class="btn button-submit" id="btnResetPwd" value="Submit" /></center>
        </div>

    </div>
</div>

