@model Quiz.Web.DTO.Models.AssesmentPageModal
@{
    ViewBag.Title = "CreateAssessMent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



    <style>
        .bs-wizard {
            margin-top: 40px;
        }

        /*Form Wizard*/
        .bs-wizard {
            border-bottom: solid 1px #e0e0e0;
            padding: 0 0 10px 0;
        }

            .bs-wizard > .bs-wizard-step {
                padding: 0;
                position: relative;
            }

                .bs-wizard > .bs-wizard-step + .bs-wizard-step {
                }

                .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
                    color: #595959;
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                .bs-wizard > .bs-wizard-step .bs-wizard-info {
                    color: #999;
                    font-size: 14px;
                }

                .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    display: block;
                    background: #fbe8aa;
                    top: 45px;
                    left: 50%;
                    margin-top: -15px;
                    margin-left: -15px;
                    border-radius: 50%;
                }

                    .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                        content: ' ';
                        width: 14px;
                        height: 14px;
                        background: #fbbd19;
                        border-radius: 50px;
                        position: absolute;
                        top: 8px;
                        left: 8px;
                    }

                .bs-wizard > .bs-wizard-step > .progress {
                    position: relative;
                    border-radius: 0px;
                    height: 8px;
                    box-shadow: none;
                    margin: 20px 0;
                }

                    .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                        width: 0px;
                        box-shadow: none;
                        background: #fbe8aa;
                    }

                .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
                    width: 100%;
                }

                .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
                    width: 50%;
                }

                .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
                    width: 0%;
                }

                .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
                    width: 100%;
                }

                .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
                    background-color: #f5f5f5;
                }

                    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                        opacity: 0;
                    }

                .bs-wizard > .bs-wizard-step:first-child > .progress {
                    left: 50%;
                    width: 50%;
                }

                .bs-wizard > .bs-wizard-step:last-child > .progress {
                    width: 50%;
                }

                .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
                    pointer-events: none;
                }

        .well {
            padding: 10px;
        }

        #lblAssessMentName {
            margin-top: 10px;
        }

        #imgAddMoreText {
            width: 30px;
        }

        #dvAddMoreText {
            padding: 8px;
        }

            #dvAddMoreText label {
                margin-top: 5px;
            }
    </style>





    <div class="row">
        <h3>Create Assessment</h3>
    </div>

    <div class="container-fluid">
        <div class="row bs-wizard" style="border-bottom:0;">
            <div class="col-xs-3 bs-wizard-step active" id="dvStepOne">
                <div class="text-center bs-wizard-stepnum">Assessment</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step disabled" id="dvStepTwo">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Environment</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step disabled" id="dvStepThree">
                <!-- complete -->
                <div class="text-center bs-wizard-stepnum">Shortlist Criteria</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step disabled" id="dvStepFour">
                <!-- active -->
                <div class="text-center bs-wizard-stepnum">Scheduling</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a href="#" class="bs-wizard-dot"></a>
            </div>
        </div>
    </div>

    <div id="divStep1">
        <div class="row">
            <div class="col-md-12">
                <div class="well ds_lightBlue">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search keyword eg : sales,software engineer etc">
                        <span class="input-group-btn">
                            <button class="btn btn-default ds_darkBlue" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="col-md-4"> <label id="lblAssessMentName">Name your assessment </label></div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txtAssessmentName" placeholder="ex:Software Engineer" />
                    <span style="color:red;" id="errorAssName"></span>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-md-12 ds_darkBlue" id="dvAddMoreText">
                <label class="pull-left">Add More Text</label>
                <span class="pull-right"><img id="imgAddMoreText" src="~/Content/Icons/Adding Icon.png" /></span>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="chkCheckAllAssessMent" />
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Questions
                        </th>
                        <th>
                            Duration
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.LQuestionBankModal)
                    {
                        <tr>
                            <td>
                                <input id=@item.Id type="checkbox" class="chkExamSubjectSelection" />
                            </td>
                            <td>
                                @item.QuestionBankName - @item.QuestionBankDescription
                            </td>
                            <td>
                                @item.NoOfQuestions
                            </td>
                            <td>
                                @item.Duration
                            </td>
                        </tr>

                    }

                </tbody>

            </table>
            <span id="errorSelectionExam" style="color:red;"></span>

            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="btn ds_darkBlue pull-left" value="Undo Changes" />
                    <span class="pull-right"><label>Total Duration</label> <span>0h 25 mins</span> </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    @*<button class="btn ds_Expired"> Back </button>*@
                    <button id="btnNext1" onclick="return ShowStep2()" class="btn ds_darkBlue">Save & Next </button>
                </div>
            </div>
        </div>
    </div>


    <div id="divStep2" style="display:none;">

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Auto Proc
                        </th>
                        <th>
                            Status
                        </th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            <span> Browser Lock </span>
                        </td>
                        <td><input type="checkbox" id="chkBrowserLockOn" checked /> </td>
                    </tr>
                    <tr>
                        <td>
                            <span> Print Screen Lock </span>
                        </td>
                        <td><input type="checkbox" id="chkPrintScreenLockOn" checked /> </td>
                    </tr>

                </tbody>

            </table>




        </div>


        <div class="row">
            <h4>Assesment Details</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Test Name
                        </th>
                        <th>
                            Questions
                        </th>
                        <th>
                            Duration
                        </th>
                        <th>
                            Test Language
                        </th>

                    </tr>
                </thead>
                <tbody id="tbodySelectedAssesments">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>English</td>
                    </tr>
                </tbody>
            </table>


            <br /> <br />  <br />  <br />



            <h4>Candidates details form</h4>
            <span>   Do you want to create a new form or use an existing one? </span>
            <input type="radio" name="FormSelection" id="radExistingForm" />Select Existing
            <input type="radio" name="FormSelection" id="radNewForm" checked />Create New

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Field Name</th>
                        <th>Field Type</th>
                        <th>Values</th>
                        <th>Mandatory</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Text Box</td>
                        <td></td>
                        <td><input type="checkbox" id="ismandatory" checked /> </td>
                    </tr>
                </tbody>
            </table>


            <div class="col-md-12 text-right">
                <button onclick="return ShowStep1()" class="btn ds_Expired"> Back </button>
                <button id="btnNext1" onclick="return ShowStep3()" class="btn ds_darkBlue">Save & Next </button>
            </div>
        </div>

    </div>



    <div id="divStep3" style="display:none;">
        <span>Step 3</span>
        <h3>Short listing criteria </h3>

        <div>
            Do you want to create a new shortlisting criteria or use an existing one?
            <br />
            <input type="radio" name="ShortListCriteria" id="radExistingShortListCriteria" />Select Existing
            <input type="radio" name="ShortListCriteria" id="radNewShortListingCriteria" checked />Create New
            <input type="radio" name="ShortListCriteria" id="radCustomShortListingCriteria" />Custom
            <br />
            Enter a name to save the cutoff
            <input type="text" id="txtShortListCriteria" placeholder="Enter a name to save the cutoff" />
            <br />
            <select id="ddlExistingShortListCriteria" style="display:none;">
                <option>--Select--</option>
            </select>

        </div>

        <div>
            <div class="grid-legend-band ng-scope" style="position: relative;">
                <span class="legend ng-binding">
                    <span class="red" style="background: rgb(244, 66, 54);"></span>
                    Not Consider
                </span>
                <span class="legend ng-binding">
                    <span class="yellow" style="background: rgb(254, 179, 0);"></span>
                    May Consider
                </span>
                <span class="legend last ng-binding">
                    <span class="blue" style="background: rgb(69, 173, 78);"></span>
                    Strong Consider
                </span>
                <button style="position: absolute; top: 6px; right: 10px;" type="button" class="btn-secondary">Reset to recommended<div class="disabled-overlay"></div></button>
            </div>
        </div>



        <p>
            <label for="amount">Customer Service Situational Judgment Test</label>
            <input type="text" id="txt1" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>

        <div id="slider-range1"></div>


        <p>
            <label for="amount">Basic Computer Literacy</label>
            <input type="text" id="txt2" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>

        <div id="slider-range2"></div>


        <div class="row">
            <div class="col-md-12 text-right">
                <button onclick="return ShowStep2()" class="btn ds_Expired"> Back </button>
                <button id="btnNext1" onclick="return ShowStep4()" class="btn ds_darkBlue">Save & Next </button>
            </div>
        </div>
    </div>




    <div id="divStep4" style="display:none;">


        <span>Step 4</span>

        <div>Welcome to Step 4 - Scheduling</div>



        <div class="row">
            <div class="col-md-12 text-right">
                <button onclick="return ShowStep3()" class="btn ds_Expired"> Back </button>
                <button id="btnSave" onclick="return submitData()" class="btn ds_darkBlue">Submit </button>
            </div>
        </div>

    </div>



    <script type="text/javascript">

        function ShowStep1() {
            $('#divStep1').show();
            $('#divStep2').hide();
            $('#divStep3').hide();
            $('#divStep4').hide();

            $('#dvStepOne').addClass('active').removeClass('disabled');
            $('#dvStepTwo').removeClass('active').addClass('disabled');
            $('#dvStepThree').removeClass('active').addClass('disabled');
            $('#dvStepFour').removeClass('active').addClass('disabled');
        }



        function ShowStep2() {

            var validateStatus = ValidateStep2();
            if (validateStatus) {
                $('#divStep1').hide();
                $('#divStep2').show();
                $('#divStep3').hide();
                $('#divStep4').hide();

                $('#dvStepOne').addClass('active').removeClass('disabled');
                $('#dvStepTwo').addClass('active').removeClass('disabled');
                $('#dvStepThree').removeClass('active').addClass('disabled');
                $('#dvStepFour').removeClass('active').addClass('disabled');
            }
            else {
                //alert("Please fill all mandatory fields to go forward");
            }

        }

        function ValidateStep2() {
            var returnStatus = true;

            //Step 1 with name
            var assesmentName = $('#txtAssessmentName').val();
            if (assesmentName == null || assesmentName == '') {
                $('#errorAssName').text('Please enter name to go step 2');
                returnStatus = false;
            }
            else {
                $('#errorAssName').text('');
            }
            //Step 2 with selection

            var anyoneSelected = false;
            $('.chkExamSubjectSelection').each(function (i, obj) {
                var elementId = obj.id;
                if ($('#' + elementId).is(':checked')) {
                    anyoneSelected = true;
                }
            });

            if (!anyoneSelected) {
                $('#errorSelectionExam').text('Please select any one in table.');
                returnStatus = false;
            }
            else {
                $('#errorSelectionExam').text('');
            }
            return returnStatus;
        }


        function ValidateStep3() {
            var returnStatus = true;


            return returnStatus;
        }




        function ShowStep3() {
            var validateStatus = ValidateStep3();
            if (validateStatus) {
                $('#divStep1').hide();
                $('#divStep2').hide();
                $('#divStep3').show();
                $('#divStep4').hide();

                $('#dvStepOne').addClass('active').removeClass('disabled');
                $('#dvStepTwo').addClass('active').removeClass('disabled');
                $('#dvStepThree').addClass('active').removeClass('disabled');
                $('#dvStepFour').removeClass('active').addClass('disabled');
            }
            else {
                //alert("Please fill all mandatory fields to go forward");
            }
        }

        function ShowStep4() {
            var validateStatus = ValidateStep4();
            if (validateStatus) {
                $('#divStep1').hide();
                $('#divStep2').hide();
                $('#divStep3').hide();
                $('#divStep4').show();

                $('#dvStepOne').addClass('active').removeClass('disabled');
                $('#dvStepTwo').addClass('active').removeClass('disabled');
                $('#dvStepThree').addClass('active').removeClass('disabled');
                $('#dvStepFour').addClass('active').removeClass('disabled');
            }
            else {
                //alert("Please fill all mandatory fields to go forward");
            }
        }

        function ValidateStep4() {
            var returnStatus = true;


            return returnStatus;
        }


        function submitData() {



        }




        $(document).ready(function () {
            $('#chkCheckAllAssessMent').change(function () {
                if ($('#chkCheckAllAssessMent').is(':checked')) {
                    $('.chkExamSubjectSelection').each(function (i, obj) {
                        $('#' + obj.id).prop('checked', true);
                    });
                }
                else {
                    $('.chkExamSubjectSelection').each(function (i, obj) {
                        $('#' + obj.id).prop('checked', false);
                    });
                }
            });
        });

        $(function () {
            $("#slider-range1").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#txt1").val("" + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#txt1").val("" + $("#slider-range1").slider("values", 0) + " -" + $("#slider-range1").slider("values", 1));

            $("#slider-range2").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#txt2").val("" + ui.values[0] + " - " + ui.values[1]);
                }
            });
            $("#txt2").val("" + $("#slider-range2").slider("values", 0) + " - " + $("#slider-range2").slider("values", 1));
        });
    </script>



}